.about{
    margin-top: 0%;
    margin-bottom : 4%;
    text-align: center;
    font-family: 'Config Alt Text';
}
.labelsearch{
    font-size: 2.5rem;
    margin-top: 0%;
    font-family: 'Config Alt Text';
}
.keyword-results{
    display: none;
    font-size: 1.5rem;
    margin-top: 3%;
    font-family: 'Config Alt Text';
}

#book-results-table{
    margin-top: 0%;
    display: none;
}

.table-responsive{
    margin-top: 0%;
}

.accordion{
    width: 50vw;
    height: 60px;
    margin: 0 auto;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(225,225,225,1);
    overflow: hidden;
    transition: height 0.3s ease;
    margin-bottom: 20px;
    font-family: 'Config Alt Text';
}

.accordion .accordion_tab{
  padding: 20px;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  font-family: 'Config Alt Text';
}

.accordion .accordion_tab .accordion_arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 15px;
  height: 15px;
  transition: all 0.3s ease;
  font-family: 'Config Alt Text';
}

.accordion .accordion_tab .accordion_arrow img{
  width: 100%;
  height: 100%;
  font-family: 'Config Alt Text';
}

.accordion .accordion_tab.active .accordion_arrow{
  transform: translateY(-50%) rotate(180deg);
  font-family: 'Config Alt Text';
}

.accordion.active.activity{
  height: 50%;
  font-family: 'Config Alt Text';
}
.accordion.active.experience{
    height: 80%;
    font-family: 'Config Alt Text';
}
.accordion.active.achievment{
    height: 35%;
    font-family: 'Config Alt Text';
}

.accordion .accordion_content{
  padding: 20px;
  border-top: 1px solid #e9e9e9;
  font-family: 'Config Alt Text';
}

.accordion .accordion_content .accordion_item{
  margin-bottom: 20px;
  font-family: 'Config Alt Text';
}

.accordion .accordion_content .accordion_item p.item_title{
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #5DBCD2;
  font-family: 'Config Alt Text';
}

.accordion .accordion_content .accordion_item p:last-child{
  color: #9a9b9f;
  font-size: 1rem;
  line-height: 20px;
  font-family: 'Config Alt Text';
}
