{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="about">
    <div class="container mt-5 about">
        <h3>Halo! Yuk lihat aktivitas, Pengalaman dan Prestasiku dibawah!</h3>
    </div>
    </div>

    <div class="wrapper">
            <div class="accordion active activity">
              <div class="accordion_tab active">
                  Aktivitas Saat Ini
                  <div class="accordion_arrow">
                    <img src="https://i.imgur.com/PJRz0Fc.png" alt="arrow">
                </div>
              </div>
              <div class="accordion_content">
                <div class="accordion_item">
                  <p class="item_title">Biro Hubungan Masyarakat BEM Fasilkom UI</p>
                  <p>
                   <strong>Universitas Indonesia
                    <br> September 2019 - saat ini</strong>
                    <br> Biro Humas merupakan wajah dari BEM Fasilkom UI yang akan merepresentasikan BEM di mata Fasilkom dan masyarakat luas.
                      Biro Humas juga merupakan penghubung antara BEM dan pihak eksternal baik yang berada di dalam maupun di luar Fasilkom.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion experience">
              <div class="accordion_tab">
                  Pengalaman Organisasi
                  <div class="accordion_arrow">
                    <img src="https://i.imgur.com/PJRz0Fc.png" alt="arrow">
                </div>
              </div>
              <div class="accordion_content">
                <div class="accordion_item">
                  <p class="item_title">Open House Fasilkom UI</p>
                  <p>
                    <strong>Penanggung Jawab Humas dan Publikasi
                         <br> September 2019 - November 2019 </strong>
                         <br> Open House Fasilkom UI 2019 adalah acara rutin tahunan yang menargetkan siswa/i Sekolah Menengah Atas di kawasan Jabodetabek sebagai pesertanya dengan harapan para peserta dapat mengenal dan
                      mengetahui Fasilkom UI lebih dalam sehingga dapat mempersiapkan diri dalam menyusun rencana masa depannya.
                         <br>
                       </p>
                </div>
                <div class="accordion_item">
                  <p class="item_title">Wisuda Genap 2019</p>
                  <p>
                    <strong>Penanggung Jawab Humas dan Publikasi
                    <br> Juli 2019 - Agustus 2019 </strong>
                    <br> Wisuda Genap Fasilkom UI adalah acara Apresiasi terhadap wisudawan Fasilkom UI setelah menyelesaikan masa
                      studinya di Fasilkom.
                </p>
                </div>
              </div>
            </div>
            <div class="accordion achievment">
              <div class="accordion_tab">
                  Prestasi<div class="accordion_arrow">
                    <img src="https://i.imgur.com/PJRz0Fc.png" alt="arrow">
                </div>
              </div>
              <div class="accordion_content">
                <div class="accordion_item">
                  <p class="item_title">Purwacara Music Studio</p>
                  <p>Mengikuti Konser dalam pagelaran tahunan Purwacaraka</p>
                </div>
              </div>
            </div>
          </div>
        </h3>

{% endblock content %}

