{% load static %}
<html>
    <head>
        <title>Talitha Maheswari</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

         <!-- menghubungkan dengan css dan bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <!-- membuat icon judul website-->
        <link rel="icon" href="https://www.flaticon.com/free-icon/scooter_130278#term=motorcycles&page=1&position=4.png" type="image/icon">
    </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="#">Talitha</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item">
   <a class="nav-link" href="{% url 'index' %}">Home </a>
    </li>
      <li class="nav-item">
   <a class="nav-link" href="{% url 'about' %}">About</a>
    </li>
      <li class="nav-item">
   <a class="nav-link" href="{% url 'library' %}">Library</a>
    </li>
    <li class="nav-item dropdown">
      <a id="text-nav-theme" class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Change Theme
      </a>
        <div class="dropdown-menu">
            <a class="dropdown-item"  onclick="changeThemeYellow()">Yellow</a>
            <a class="dropdown-item"  onclick="changeThemeGrey()">Grey</a>
        </div>
    </li>
      {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" target="_parent"><button class="btn login-btn" role="button" aria-pressed="true">Logout</button></a>
            {% else %}
                <a href="{% url 'login' %}" target="_parent"><button class="btn login-btn" role="button" aria-pressed="true">Login</button></a>
            {% endif %}
  </ul>
   </div>
 </nav>
      <div class="container">
                <div class="jumbotron">
                <h1 class="display-4">Hello, apa kabar?</h1>
                {% if user.is_authenticated %}
                  <p class="lead">Welcome! <span>{{ request.session.username }} to Talitha's website</span></p>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
                  <hr class="my-4">
                {% endif %}
         </div>
    </div>

    {% block content %}
    {% endblock %}
  </body>
    <footer>
        <script src="{% static 'js/about.js' %}"> </script>
    </footer>

