{% extends 'base.html' %}
{% load static %}

{% block content %}
<section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST" action="{% url 'add_todo' %}">
            {% csrf_token %}
            {{todo_form}}
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
        <br>
        </form>
    </div>
</section>

<section name="my-list" id="my-list">
    <div class="container">
        <h2 class="my-list-title">Status</h2>
        <div class="flex">
            {% if todo %}
                {% for data in todo %}
                    <div class="flex-item">
                        <div class="to-do-list">
                            <div class="to-do-list-title">
                                {{data.title}}
                            </div>
                            <div class="to-do-list-date-added">
                                {{data.created_date}}
                            </div>
                            <div class="to-do-list-description">
                                {{data.description}}
                            </div>
                            <br>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada data Todo.
            </div>
            {% endif %}
        </div>
    </div>
</section>


</div>

{% endblock content %}