{% extends 'base.html' %}
{% load static %}

{% block title %}books{% endblock title %}

{% block content %}
<div class="allcontent">
        <form method="GET" class="form" action="volumes">
            {% csrf_token %}
         <div class="form-group">
             <label class="labelsearch">Cari Buku</label>
             <input type="text" class="form-control"  id="searchfield" placeholder="search your books" name="searchfield">
         </div>
         <button type="submit" class="btn btn-primary" id='submit'>Cari</button>
        </form>
    </div>

    <div class="container mt-5">
      <h1 class="keyword-results">Results</h1>
    </div>

    <div id="book-results-table" class="table-responsive">
        <div class="container mt-5">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th class="align-middle" scope="col">Nomor</th>
              <th class="align-middle" scope="col">Informasi Buku</th>
              <th class="align-middle" scope="col">Cover Depan Buku</th>
            </tr>
          </thead>
          <tbody id="results">
          </tbody>
        </table>
      </div>
    </div>
<script src="{% static 'js/library.js' %}"> </script>
{% endblock content %}


