{% extends 'base.html' %}
{% load static %}

{% block title %}JL | Login{% endblock title %}

{% block content %}
<div class="container mt-5 pt-5" id="login">
    <div class="text-center">
        <form id="form" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group row justify-content-center">
                <div class="col-6">
                    <label class="mt-3" for="username">Username</label>
                    <input name="username" type="text" class="form-control" id="username" required>
                    <label class="mt-3" for="username">Password</label>
                    <input name="password" type="password" class="form-control" id="password" required>
                </div>
            </div>
            <button type="submit" class="btn" id="submit">Submit</button>
        </form>

        
        {% if error %}
            <div class="border border-danger rounded-pill mt-5 p-3" id="warning">
                {{ error }}
            </div>
        {% endif %}
        
    </div>
</div>
{% endblock content %}
